apiVersion: autoscaling/v2
kind: HorizontalPodAutoscaler
metadata:
  name: a-hpa
  namespace: pspd
spec:
  scaleTargetRef:
    apiVersion: apps/v1
    kind: Deployment
    name: a-deploy
  minReplicas: 1
  maxReplicas: 10
  metrics:
  - type: Resource
    resource:
      name: cpu
      target:
        type: Utilization
        averageUtilization: 70
  - type: Resource
    resource:
      name: memory
      target:
        type: Utilization
        averageUtilization: 80
  behavior:
    scaleDown:
      stabilizationWindowSeconds: 60
    scaleUp:
      stabilizationWindowSeconds: 30
